{% extends 'layout.twig' %}

{% block body %}
    {% raw %}
        <section class="container" id="app">
            <div class="columns">
                <div class="column">
                    <article v-if="success" class="message is-success">
                        <div class="message-header">
                            <p>Success</p>
                            <button class="delete" aria-label="delete" @click="success = null"></button>
                        </div>
                        <div class="message-body">
                            {{ alert.message }}
                        </div>
                    </article>

                    <article v-if="success == false" class="message is-warning">
                        <div class="message-header">
                            <p>Warning</p>
                            <button class="delete" aria-label="delete" @click="success = null"></button>
                        </div>
                        <div class="message-body">
                            {{ alert.message }}
                        </div>
                    </article>
                </div>
            </div>


            <div class="colomns is-multiline">
                <div class="column is-full">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-rounded" type="text" placeholder="Search for movie"
                                   v-model="searchStr"
                                   @keyup.enter="searchOmdb">
                            <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                        </p>
                    </div>
                </div>

                <div class="column is-full has-text-centered">
                    <span class="is-size-4">
                        &mdash;&nbsp;OR&nbsp;&mdash;
                    </span>
                </div>
            </div>
            <div class="columns">
                <div class="column"><a @click.prevent='randomMovie' href="#" class="button is-primary is-fullwidth">Random
                        Movie</a></div>
                <div class="column"><a @click.prevent='viewMovies = !viewMovies' href="#" class="button is-primary is-fullwidth">View
                        Movies</a></div>
            </div>


            <div v-if="searchResults" class="columns is-multiline">
                <div v-for="res in searchResults.Search" class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                <img :src="res.Poster" :alt="res.Title">
                            </figure>
                        </div>
                        <header class="card-header"></header>
                        <div class="card-content">
                            <p class="title is-4">{{ res.Title }}</p>
                            <p class="subtitle is-6">{{ res.Year }}</p>
                        </div>
                        <footer class="card-footer">
                            <a href="#" @click="selectEntry(res)" class="card-footer-item">Add</a>
                        </footer>
                    </div>
                </div>
            </div>


            <div v-if="viewMovies" class="columns is-multiline">
                <div v-for="movie in movies" class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                <img :src="movie.Poster" :alt="movie.Title">
                            </figure>
                        </div>
                        <header class="card-header"></header>
                        <div class="card-content">
                            <p class="title is-4">{{ limit(movie.Title) }}</p>
                            <p class="subtitle is-6">{{ movie.Year }}</p>
                        </div>
                        <footer class="card-footer">
                            <a @click.prevent='watchedMovie(movie._id)' href="#" class="is-primary">Mark as watched!</a>
                        </footer>
                    </div>
                </div>
            </div>


            <div v-if="selectedMovie" class="columns">
                <div class="column is-one-third is-offset-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                <img :src="selectedMovie.Poster" :alt="selectedMovie.Title">
                            </figure>
                        </div>
                        <header class="card-header"></header>
                        <div class="card-content">
                            <p class="title is-4">{{ limit(selectedMovie.Title) }}</p>
                            <p class="subtitle is-6">{{ selectedMovie.Year }}</p>
                        </div>
                        <footer class="card-footer">
                            <a @click.prevent="watchedMovie(selectMovie._id)" href="#" class="card-footer-item">Mark as watched!</a>
                        </footer>
                    </div>
                </div>
            </div>


        </section>
    {% endraw %}
{% endblock %}
